.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex-grow: 1;
    display: flex;
}

.app-sidebar {
    width: 68px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051E34;
}

.app-content {
    flex-grow: 1;
    overflow: auto;   
}

li {
    list-style: none;
}

/* APP HEADER */

.app-header figure, ul {
    margin-bottom: 0;
    padding-left: 0;
}


.logo-mobile {
    width: 60px;
}

.search-bar {
    border-radius: 5px;
    background-color: #E5E5E5;
}

/* APP SIDEBAR */

aside a {
    text-decoration: none;
    color: white;
}

aside a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* APP CONTENT */


/* APP CONTENT TOP */

.app-content-top {
    background-color: #1B72E8;
}

.app-content-top button {
    border: 1px solid white;
}


/* OFFCANVAS */

#offcanvasRight {
    width: 100%;
}

.choose-file {
    border: 1px solid #CDCDCD;
}

#offcanvasRight input {
    border-radius: 5px;
    border: 1px solid #CDCDCD;
}

.salva {
    color: white;
    background-color: #1B72E8;
    border-radius: 5px;
}

.reset {
    background-color: #FFC105;
}


/* APP CONTENT BOTTOM */

/* ACCORDION */

.accordion-body {
    font-size: 14px;
}



/* DEBUG */

.debug {
    background-color: red;
    border: 1px solid;
    padding: 20px 20px;
}

/* MEDIA QUERY */


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .app-sidebar {
        width: 150px;
    }

    #offcanvasRight {
        width: 800px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
