.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-main {
    flex-grow: 1;
    display: flex;
}

.app-sidebar {
    width: 68px;
}

.app-content {
    flex-grow: 1;
}

li {
    list-style: none;
}

/* APP HEADER */

.app-header figure, ul {
    margin-bottom: 0;
    padding-left: 0;
}


.logo-mobile {
    width: 60px;
}

.search-bar {
    border-radius: 5px;
    background-color: #E5E5E5;
}

/* DEBUG */

.debug {
    background-color: red;
    border: 1px solid black;
    padding: 20px 20px;
}

/* MEDIA QUERY */


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .app-sidebar {
        width: 150px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
